* {
  box-sizing: border-box;/* для того, щоб коректно задати ширину і довжину*/
}

#main-background {
  background: url('./img/annie-spratt-K4vGUuX1jtQ-unsplash.jpg') center center no-repeat;
  max-height: 100vh; /* максимальна висота- повний заповнений екран*/
  width: 100%;
  color: white;
  display: flex; 
  align-items: center;
}

#main-text {
  opacity: 0;
}

.site-title {
  font-size: 50px;
  font-weight: bold;
}

#navbar {
  background-color: #FADADD;

  position: fixed;
  width: 100%;
  opacity: 0; /* спочатку навбар прозорий*/
  z-index: 9999; 
  box-shadow: 0px 10px 32px -5px rgba(0,0,0,0.46);
}

#navbarNavAltMarkup {
  justify-content: flex-end;
}

#about-us {
 
  width: 70%;
  margin: 0 auto;/* ставить по центру*/
  padding: 60px 0;/* стискає елементи у контейнері*/
  display: flex;/* виставляє елементи в ряд*/
}

#first-info {
  width: 70%;
  max-width: 500px;/* максимальна ширина- 500 пікселів*/
  position: relative;
  right: 100px;
}

#second-info {
  margin-left: 200px;

}

#work-time {
      margin-top: 50px;
}

.info {
  display: flex;/* виставляє елементи в ряд*/
  padding: 30px;/* стискає елементи у контейнері*/
}
/* hr робить лінії*/
.hr {
  width: 30%;
  border-top: 1px solid #FADADD; /* бере верхню лінію:)*/
}


.contact-info-wrapper {
  display: flex; /* виставляє елементи в ряд*/
  justify-content: space-around;/* виставляє проміжки між елементами*/
  background: #262626;
  color: #777;
  padding: 50px;/* стискає елементи у контейнері*/
}

.about-footer {
  width: 200px;
}

.h4 {
  color: white;
}

#toTop {
padding:5px;
position: fixed;
bottom:10px;
right:10px;
z-index: 1000;
cursor:pointer;/* стиль кнопки, яка збоку рухається*/
display:none;/*на початку не відобраєам*/

}

.social {
  margin-bottom: 20px;
}
